/*===== this style for screen up 576px until 767px =====*/
/*======================================================*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .sub-heading {
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Bellefair';
  }
  .section1 {
    height: 650px;
  }
  .section1 .title1 {
    font-size: 40px;
    line-height: 60px;
  }
  .section1 .title2 {
    width: 22%;
    margin-top: -32px;
  }
  .section2 .heading {
    font-size: 40px;
    line-height: 52px;
    margin-top: 15px;
    width: 85%;
  }
  .section2 .left-part {
    width: 100%;
  }
  .section2 .left-part .left-part-text {
    margin-top: 24px;
    width: 100%;
  }
  .section2 .right-part {
    margin-top: 36px;
    width: 100%;
  }
  .section4 {
    padding: 0 12px;
  }
  .section4 .left-part {
    width: 100%;
  }
  .section4 .right-part {
    width: 100%;
    margin-bottom: 24px;
  }
  .section4 .part1 .right-part .paragraph-text{
    margin-left: 0!important;
  }
  .section4 .part2 .left-part .left-part-text {
    width: 100%;
  }
  .section4 .part2 .right-part .right-part-img {
    width: 50%;
    margin: 0 auto;
  }
  .section4 .part3 .right-part .right-part-text{
    margin-left: 0!important;
  }
  .section5 .title1 {
    font-size: 40px;
    line-height: 60px;
  }
  .section5 .title2 {
    width: 22%;
  }
  .section6 {
    height: 300px;
    padding: 0 12px;
  }
  .section6 .vertical {
    height: 60px;
  }
}